body{
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main{
	flex: 1 0 auto;
	display: none;
}
footer{
	margin-bottom: 0px;
	display: none;
}
.img{
  	border-radius: 50%;;
  	size: 20px
}
.aff{
	display: grid;
}
.chip{
	height: auto;
}
.vue{
	position: fixed;
	margin-bottom: 2%;
}
.vue-plus{
	margin-top: 30%;
}
.cadre{
	margin-top: 10%;
	background: black;
	color: white;
}
h2{
	text-align: center;
	margin-top: 15%;
	color: grey;
}
.min{
	min-height: 300px; 
}